{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    FreelaWay | Recuperar senha
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}


{% block 'body' %}
    <div class="box">
        <h1 class="titulo font-degrade borda-bottom-degrade">Sua senha foi resetada com sucesso</h2>
        <br>
        <form>
            <button type='submit' class="btn btn-success btn-lg" formaction="/auth/logar/">CLIQUE AQUI</button>
            <font size="5">para logar na sua conta</font>
            
        </form>
        
    </div>
{% endblock %}