{% extends 'base.html' %}
{% load static %}


{% block 'title' %}
    FreelaWay | Nova senha
{% endblock %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}



{% block 'body' %}
    <div class="box">
        <form action="" method="POST">{% csrf_token %}
            {{form}}
            <input type="submit" class="btn btn-success btn-lg" value="enviar">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
            
        </form>
    </div>
{% endblock %}