{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
    FreelaWay | Recuperar senha
{% endblock %}


{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock %}



{% block 'body' %}
    <div class="box">
        <h1 class="titulo font-degrade borda-bottom-degrade">RECUPERAR SENHA</h2>
        <br>
        <form action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
            
            {{form}}
            
            <input type="submit" class="btn btn-success btn-lg" value="Recuperar">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
            
        </form>
    </div>
{% endblock %}